
body{
  font-family: 'Open Sans', sans-serif;
}

.heading-div{
  text-align: center;
}

.grid-top {
  position: relative;
  width: 50%;
  display: grid;
  grid-template-columns: 100%;
  background-color: #2196F3;
  padding: 40px;
  margin: auto;
  height:180px;
}

.grid-mini-ans{
  position: absolute;
  top: 5px;
  right: 50px;
}

.mini-ans-p{
  font-size: 24px;
}
.calc-output {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: right;
  min-height: 90px;
}

.grid-container {
width: 50%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #2196F3;
  padding: 10px;
  margin: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-answer {
  height: 40px;
}
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.calc-digit{
  font-size: 50px;
}
